/*  your css code here. If applicable */
#quiz{
	height:400px;
	width:600px;
	border:1px solid black;
	border-radius:15px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
#collect{
	margin-left:50px;
}
h1{
	text-align:center;
}
#submit{
	height:50px;
	border-radius:15px;
	background-color:#d76dea;
	color:white;
}
#ans{
	display:none;
}

